#rer, #ter{
	float: left;
	margin: 10px;
}

canvas{
	height: 300px;
	width: 500px;
}

#rer div, #ter div{
	height: 30px;
	width: 30px;
	margin: 5px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 30px;
}

#licon{
	height: 60px;
	width: 60px;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	border-radius: 60px;
}

#lname{
	display: inline-block;
	font-size: 30px;
	text-indent: 20px;
}

.A{color:#e1132b; border:solid 4px #e1132b;}
.B{color:#4b90cd; border:solid 4px #4b90cd;}
.C{color:#ffe003; border:solid 4px #ffe003;}
.D{color:#00ab67; border:solid 4px #00ab67;}
.E{color:#d892bd; border:solid 4px #d892bd;}
.H{color:#95564d; border:solid 4px #95564d;}
.J{color:#cacf3b; border:solid 4px #cacf3b;}
.K{color:#c6b205; border:solid 4px #c6b205;}
.L{color:#7d84bd; border:solid 4px #7d84bd;}
.N{color:#02a88f; border:solid 4px #02a88f;}
.P{color:#f0ae1c; border:solid 4px #f0ae1c;}
.R{color:#e3b3d2; border:solid 4px #e3b3d2;}
.U{color:#d5085c; border:solid 4px #d5085c;}

